*, *::before, *::after {
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(165deg, #7895B2, #AEBDCA);
  margin: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
